.carousel {
    max-width: 100px;
    margin: 0 auto 30px auto;
  }
  
  .carousel-item img, .carousel-item video {
    max-height: 100px;
    object-fit: contain;
    background-color: #f8f8f8;
  }
  .carousel-container {
    max-width: 60%; /* Adjust as needed */
    margin: 0 auto; /* Centers the carousel */
  }
  